# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3500

# Sui Network
NEXT_PUBLIC_SUI_NETWORK=testnet

# Package IDs (deployed to testnet)
NEXT_PUBLIC_AMM_PACKAGE_ID=0xfb9aa64f05eec5e108bf48666f400381861b7fd9e4aa59664f9134a436cfd73d
